<div class="banner" style="background-image: linear-gradient(-225deg, rgba(134, 147, 156, 0.4) 0%, rgba(98, 107, 113, 0.4) 50%), url('http://res.cloudinary.com/lmdn/image/upload/v1503313131/city3_nlhljf.jpg');">
  <%= content_for(:navbar_class, "navbar-home") %>
  <%= content_for(:class_search, "display") %>
  <div class="banner-content">
    <div class="head-title">
      <h1>J' <i class="fa fa-heart"></i> ma ville</h1>
      <p>Le geste citoyen pour améliorer le quotidien</p>
    </div>
  </div>

</div>
